veygo-app/main/default/flows/Account_Marketing_Date_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>set_Date_and_Time</name>
        <label>set Date and Time</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Offers_And_Updates_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_update_Surveys_And_Feedback</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Date_and_Time_0</name>
        <label>set Date and Time</label>
        <locationX>622</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Surveys_And_Feedback_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_update_Admiral_Marketing_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Date_and_Time_0_0</name>
        <label>set Date and Time</label>
        <locationX>930</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.Admiral_Marketing_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Date_and_Time_0_0_0</name>
        <label>set Date and Time</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Surveys_And_Feedback_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_update_Admiral_Marketing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Date_and_Time_0_0_0_0</name>
        <label>set Date and Time</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>$Record.Admiral_Marketing_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Date_and_Time_0_0_0_0_0</name>
        <label>set Date and Time</label>
        <locationX>490</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.Admiral_Marketing_Datetime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Add_update_Admiral_Marketing</name>
        <label>Add update Admiral Marketing</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admiral_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Add_update_Admiral_Marketing_0</name>
        <label>Add update Admiral Marketing</label>
        <locationX>622</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admiral_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>add_update_Surveys_And_Feedback</name>
        <label>add update Surveys And Feedback</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>Add_update_Admiral_Marketing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Surveys_And_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_field_to_update</name>
        <label>Which field to update?</label>
        <locationX>688</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Offers_And_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Offers_And_Updates__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time</targetReference>
            </connector>
            <label>Offers And Updates</label>
        </rules>
        <rules>
            <name>Surveys_And_Feedback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Surveys_And_Feedback__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time_0</targetReference>
            </connector>
            <label>Surveys And Feedback</label>
        </rules>
        <rules>
            <name>Admiral_Marketing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Admiral_Marketing__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Date_and_Time_0_0</targetReference>
            </connector>
            <label>Admiral Marketing</label>
        </rules>
    </decisions>
    <interviewLabel>Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Marketing Date/Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_field_to_update</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 5) OR (3 AND 6)</filterLogic>
        <filters>
            <field>Offers_And_Updates__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Surveys_And_Feedback__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Admiral_Marketing__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Offers_And_Updates_Datetime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Surveys_And_Feedback_Datetime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Admiral_Marketing_Datetime__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
